<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI3-y0T4bv6KioryFkBS6ML-LjVzxiLIk</string>
	<key>GCM_SENDER_ID</key>
	<string>791160331503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.applogics.rooster</string>
	<key>PROJECT_ID</key>
	<string>rooster-d6a91</string>
	<key>STORAGE_BUCKET</key>
	<string>rooster-d6a91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791160331503:ios:f631145a7e928294d3cf1a</string>
</dict>
</plist>